body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: pink;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.card {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    width: calc(33.33% - 20px); /* largura dos cards */
    max-width: 300px; /* largura máxima dos cards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* sombra suave */
    transition: transform 0.3s ease; /* animação de transição */
}

.card:hover {
    transform: translateY(-5px); /* elevação suave ao passar o mouse */
}

@media screen and (max-width: 768px) {
    .card {
        width: calc(50% - 20px); /* ajuste para duas colunas em telas menores */
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: calc(100% - 20px); /* ajuste para uma coluna em telas ainda menores */
    }
}