*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    background-color: rgb(243, 237, 237);
}
.desc{
    float: right;
    width: 20%;
}
.logo{
    height: 50px;
}
.jogo{
    margin-left: 150px;
}
.titulo{
    text-align: center;
}
header{
    border-bottom: 1px solid black;
    height: 60px;
    margin-bottom: 50px;
}
.left{
    margin-top: 20px;
    margin-right: 80px;
    display: block;
    float: right;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.add{
    position: fixed;
    right: 0;
    bottom: 0;
    float: right;
    width: 400px;
    border: 1px solid rgba(155, 69, 155, 0.432);
}
