body{
    background-image: url(marechal-hermes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
main{
    width: 60%;
    background-color: white;
    margin: auto;
    border-radius: 15px;
}
img{
    width: 250px;
    height: 200px;
    display: block;
    margin: auto;
}
h1,h2,h3{
    text-align: center;
}
p{
    margin-left: 5px;
}